<div class="rectangle_1">
    <img src="../../../../assets/image/home.jpg" alt="background" class="background">
    <div class="welcome">
        <p class="a">Welcome to </p>
        <p class="b">CURST GOURMET</p>
        <div class="restaurant">
            <p class="c">R</p>
            <p class="c">E</p>
            <p class="c">S</p>
            <p class="c">T</p>
            <p class="c">A</p>
            <p class="c">U</p>
            <p class="c">R</p>
            <p class="c">A</p>
            <p class="c">N</p>
            <p class="c">T</p>
        </div>
        <div class="btn_booking">
            <button (click)="tablebooking()" appearance="whiteblock-active" tuiButton type="custom" class="table_booking">
                TABLE BOOKING
            </button>
        </div>

    </div>
</div>
<div class="rectangle_2">
    <div class="icon_1">
        <img src="../../../../assets/image/1.png" class="icon">
        <p>TOP CHEFS</p>
    </div>
    <div class="icon_2">
        <img src="../../../../assets/image/2.png" class="icon">
        <p>FRESH INGREDIENTS</p>
    </div>
    <div class="icon_3">
        <img src="../../../../assets/image/3.png" class="icon">
        <p>ATTRACTIVE FLAVORS</p>
    </div>
    <div class="icon_3">
        <img src="../../../../assets/image/4.png" class="icon">
        <p>PROFESSIONAL</p>
    </div>

</div>

<div>
    

</div>