<div class="container">

    <div class="logo" (click)="homeclick()">
        <img src="../../../../assets/image/logo.png" class="logo_img">
        <p class="name">CurstGourmet</p>
    </div>

    <section class="select">
        <button (click)="select('menu')" [ngClass]="{'active': selected === 'menu'}">Menu</button>
        <button (click)="select('booking')" [ngClass]="{'active': selected === 'booking'}">Table Booking</button>
        <button (click)="select('location')" [ngClass]="{'active': selected === 'location'}">Locations</button>
        <button (click)="select('news')" [ngClass]="{'active': selected === 'news'}">News</button>
        <button (click)="select('order')" [ngClass]="{'active': selected === 'order'}">Delivery</button>
    </section>

    <p class="login">Login</p>
</div>

